@*@GeneratedCode*@
@model QTPriceChecker.AspMvc.Models.Base.ProductXSupplier

<div class="row">
 <div class="col-md-4">
  <div asp-validation-summary="ModelOnly" class="text-danger"></div>
  <input asp-for="Id" type="hidden" />
  <div class="form-group">
   <label asp-for="SupplierId" class="control-label"></label>
   <input asp-for="SupplierId" class="form-control" />
   <span asp-validation-for="SupplierId" class="text-danger"></span>
  </div>
  <div class="form-group">
   <label asp-for="ProductId" class="control-label"></label>
   <input asp-for="ProductId" class="form-control" />
   <span asp-validation-for="ProductId" class="text-danger"></span>
  </div>
  <div class="form-group">
   <label asp-for="MinPrice" class="control-label"></label>
   <input asp-for="MinPrice" class="form-control" />
   <span asp-validation-for="MinPrice" class="text-danger"></span>
  </div>
  <div class="form-group">
   <label asp-for="MaxPrice" class="control-label"></label>
   <input asp-for="MaxPrice" class="form-control" />
   <span asp-validation-for="MaxPrice" class="text-danger"></span>
  </div>
 </div>
</div>
