@*@CustomCode*@
@model QTPriceChecker.AspMvc.Models.Base.ProductXSupplier

@{
    var selectList = new SelectList(Model!.Suppliers, "Id", "Name");
}

<div class="row">
    <div class="col-md-4">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input asp-for="Id" type="hidden" />
        <input asp-for="ProductId" type="hidden" />

        <div class="form-group">
            <label asp-for="ProductText" class="control-label"></label>
            <input asp-for="ProductText" class="form-control" readonly="readonly" />
        </div>
        <div class="form-group">
            <label asp-for="SupplierId" class="control-label"></label>
            @Html.DropDownListFor(m => m.SupplierId, selectList, null, new { @class="form-select" })
        </div>
    </div>
</div>
